[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
coverage = "*"
freezegun = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
requests-mock = "*"
ruff = "*"
types-requests = "*"
typing-extensions = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
